{% extends "base.html" %}

<h1>Post New Research position</h1>

{% block content %}
<div class="container mt-5">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control") }}
      {% for error in form.title.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.description.label(class="form-label") }}
      {{ form.description(class="form-control") }}
      {% for error in form.description.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.qualifications.label(class="form-label") }}
      {{ form.qualifications(class="form-control") }}
      {% for error in form.qualifications.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.major.label(class="form-label") }}
      {{ form.major(class="form-control") }}
      {% for error in form.major.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{form.tag.label}}
      {{ form.tag }}
    </div>

    <div class="mb-3">
      {{form.tag2.label}}
      {{ form.tag2 }}
    </div>
    
    <div class="mb-3">
      {{ form.submit(class="btn btn-crimson") }}
    </div>
  </form>
</div>
{% endblock %}
