<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-container">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='img/wsu.png')}}" class="img-fluid" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('routes.sindex') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Create Posting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">View Applicants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.index') }}">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">Current user: <span class="useritem">________</span></span>
                    </li>
                </ul>
            </div>
        </nav>
            
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>