<html>
    <head>
    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <td><a href="{{ url_for('routes.findex') }}" class = "button">Home</a></td>
                <td><a href="" class = "button"> Create a post </a></td>
                <td><a href="" class = "button"> Applicants </a></td>
                <td><a href="" class = "button"> My profile </a></td>
                <td> Current user is: <span class="useritem">________ </span> </td>  
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>