{% extends "fbase.html" %}

{% block content %}
    <h1 class="register-header">Register</h1>

    <!-- TODO: (milestone 3) Include the template for "user registration" form here..  -->
    {% if form %}

        <form class="register-form text-align-center" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row register-items">

                <div class="mb-3 col-md-6">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3 col-md-6">
                    {{ form.firstname.label (class="form-label")}}<br>
                    {{ form.firstname(class='form-control') }}<br>
                
                {% for error in form.firstname.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {% endfor %}
            </div>

                
                <div class="mb-3 col-md-6">
    
                {{ form.lastname.label (class="form-label")}}<br>
                {{ form.lastname(class='form-control') }}<br>
                
                {% for error in form.lastname.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {% endfor %}
                </div>
                
                
                <div class="mb-3 col-md-6">
                    {{ form.title.label (class="form-label")}}
                    {{ form.title(class='form-control') }}
                
                {% for error in form.title.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>

                {% endfor %}
            </div>

                <div class="mb-3 col-md-6">
                {{ form.email.label (class="form-label")}}<br>
                {{ form.email(class='form-control') }}<br>
                
                {% for error in form.email.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>

                {% endfor %}
            </div>
                
                <div class="mb-3 col-md-6 justify-content-center">
                {{ form.password.label (class="form-label")}}<br>
                {{ form.password(class='form-control')}}<br>
                
                {% for error in form.password.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>

                {% endfor %}
            </div>

                <div class="mb-3 col-md-6">
                {{ form.password2.label (class="form-label")}}
                {{ form.password2(class='form-control')}}<br>
                
                {% for error in form.password2.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>

                {% endfor %}
            </div>

            </div>
            
            <div class="text-center">
                {{ form.submit(class='btn btn-crimson') }} 
            </div>
        </form>
    {% endif %}


{% endblock %}