{% extends "fbase.html" %}

{% block content %}
    <h1>Sign In</h1>
    {% if form %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            
            <p> {{ form.username.label }} </p>
                <p>{{ form.username(class ='textinput') }}</p>

                {% for error in form.username.errors %}
                    <span style="color: red">[{{ error}}]</span>
                {% endfor %}

                <p>{{ form.password.label }}</p>
                <p>{{ form.password(class ='textinput') }}</p>

                {% for error in form.password.errors %}
                    <span style="color: red">[{{ error}}]</span>
                {% endfor %}

                <p>{{form.remember_me()}} {{form.remember_me.label}}</p>

        </div>
    
    {{ form.submit }}    
    
    <p>New User? <a href="{{url_for('auth.faculty_reg') }}">Click to Register For Faculty!</a><br>
        <a href="{{url_for('auth.student_reg') }}">Click to Register For Student!</a></p>

    </form>
    {% endif %}

{% endblock %}